.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

body{
    font-family: "Atkinson Hyperlegible";
    background-color:rgb(255, 255, 255);
    margin:8px;
}

h1{
    font-family: "Atkinson Hyperlegible";
    color:rgb(12, 10, 131);
}

h2{
    font-family: "Atkinson Hyperlegible";
    color: rgb(36, 98, 160);
}

h3{
    font-family: "Atkinson Hyperlegible";
    color: rgb(39, 94, 148);
}

p{
    font-family: "Atkinson Hyperlegible";
    color:rgb(28, 61, 61);
    /*margin: 8px;*/
}

footer{
    font-family: "Atkinson Hyperlegible";
    color: rgb(28, 61, 61);
    /*text-align: left;*/
}

a{
  color:rgb(42, 100, 207)
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #15449b;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  font-weight: bolder;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4163a1;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0f74f8;
  color: rgb(178, 228, 236);
}

.box {
  position:fixed;
  right: 8%;
  top: 10%;
  bottom:0;
}
.box-table {
  height:100%;
  display:table;
}
.inner {
  display:table-cell;
  height:100%;
}
.content {
  background:#e4f8ff;
  border:1px solid rgb(148, 160, 224);
}

.gameTable{
  width: 100%;
  border-collapse: collapse;
}

.gameTable tr{
  width: 100%;
  border-collapse: collapse;
}

.gameTable td{
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  border-collapse: collapse;
}

.normalTable td{
  padding-left: 10px;
}

.pageStyle {
  padding-left: 5%;
  padding-top: 2.5%;
}