.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  body{
    font-family: "Atkinson Hyperlegible";
    background-color:rgb(164, 213, 255);
    margin:8px;
  }

h1{
    font-family: "Atkinson Hyperlegible";
    color:rgb(12, 10, 131);
}

h2{
    font-family: "Atkinson Hyperlegible";
    color: rgb(36, 98, 160);
}

h3{
    font-family: "Atkinson Hyperlegible";
    color: rgb(39, 94, 148);
}

p{
    font-family: "Atkinson Hyperlegible";
    color:rgb(0, 112, 112);
    margin: 8px;
}

footer{
    font-family: "Atkinson Hyperlegible";
    color: rgb(0, 112, 112);
    text-align: left;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #15449b;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4163a1;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0f74f8;
  color: rgb(0, 217, 255);
}
